:root {
    --font-header: system-ui, sans-serif;
    --font-body: serif;
    /*
    PADDINGS & MARGINS
    */
    --space: 2rem;
    --outer: 1.5rem;
    --inter: 1rem;
    --inner: 0.5rem;
    --inlet: 0.25rem;
    /*
    CONSTRAINTS
    */
    --constraint-main: 56rem;
    /*
    COLORS
    */
    --color-text: #333;
    --color-paper: #fefefe;
}

body,
header,
main,
nav,
hr,
h1,
h2,
h3,
label,
fieldset,
legend,
a,
p,
time,
author,
picture,
figure,
figcaption,
img,
video,
footer,
div,
input,
form,
button,
table,
tr,
td,
th,
tbody {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--font-body);
    font-variation-settings: 'wght' 400;
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-paper);
    height: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space);
    padding: 8vw 6vw;
    width: 100%;
    overflow-x: hidden;
    max-width: var(--constraint-main);
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--font-header);
    line-height: 120%;
    font-variation-settings: 'opsz' 60, 'wght' 800;
    font-weight: 800;
    text-wrap: balance;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

p,
b,
ul,
ol,
li,
input {
    color: var(--color-text);
    font-family: var(--font-body);
    line-height: 165%;
    font-size: 1.25rem;
}
nav {
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer {
    padding: 2rem;
    text-align: center;
    font-size: 0.9rem;
}

@media (max-width: 1100px) {
    :root {
        --hwdth: 46rem;
    }

    h1 {
        font-size: 3rem;
    }
}
